/*General*/
*{
	margin: 0;
	padding: 0;
}

html{
	background-color: #FFDF84;
	margin:0;
}

body{
	margin:0;
	position: relative;
}


h2, h3, h4, a{
	font-family: 'Roboto Slab', serif;
	margin-left: 8%;
}

h1{
	font-size: 2rem;
	font-family: 'Roboto Slab', serif;
	color: #FFF;
	text-align: center;
	margin-top: 0;
	text-shadow: 2px 2px 1px black;
}

h2 {
	background-color: #FFF;
	margin-top: calc(92vw + 0.5rem);
	margin-bottom: 1.5rem;
}

a{
	text-decoration: none;
	font-size: 1rem;
}

a:link, a:visited{
	color: #F6C806;
}

a:hover{
	color: white;
}

h3{
	margin-top: 3rem;

}

p{
	font-family: 'Roboto', sans-serif;
	font-size: 1.08rem;
	line-height: 1.65rem;
	margin-top: 2rem;
	margin-left: 8%;
	margin-right: 2%;
}

img {
 	max-width: 100%;
}
/*Header*/

header{
	background-color: #342D1A;
	width: 100%;
}


/*Menu*/

nav{
	background-color: #675934;
	margin-bottom: 0.5rem;
}

.menu{
	margin-bottom: 5rem;
}

nav ul{
	list-style: none;
}

nav ul li{
	display: inline;
}
nav p{
	text-align: center;
	line-height: 0.8rem;
	margin: 0;
}

nav a{
	padding: 0.05rem 0.2rem;
	line-height: 0.8rem;
	font-size: 0.9rem;
	font-weight: 700;
	margin:0.1rem auto;
	display: inline-block;
	background-color: #7E6D41;
	letter-spacing: 0.1rem;
}

/*                                Portada*/

.ptd{
	margin-left: 12%;
	margin-right: 4%;
	width: 84%;
	margin-top: calc(100vh - 88vw - 8rem);
	position: relative;
}

.pdtHead{
	text-align: right;
	position: absolute;
	margin:0;
	color: white;
	bottom: 2.5rem;
	left: 1rem;
	right: 0;
}

.pdtHead h2{
	font-size: 12vw;
	background-color: rgba(130, 80, 40, 0.6);
	margin-bottom: 0.25rem;
}

.pdtPic{

}


/*                                   Menu lat Sec 01*/

.MenuSec1{
	width: 92%;
	margin-left: 8%;
	overflow-x: scroll;
}

.MenuSec1 a{
	color: #000;
	padding:0;
	background-color: #675934;
}

.MenuSec1 h3{
	margin: 0.2rem;
	z-index: 5;
	position: relative;
}

.MenuS1box{
	width: calc(5.5 * 65vw);
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.ItSec1{
	width: 65vw;
	display: inline-block;
	background-color:  #675934;
	border-top: 0.35rem solid #F6C806;
	border-bottom: 0.7rem solid #F6C806;
	padding: 0;
	margin-right: 1rem;
}

/*.ItSec1 img{
	width: 50%;	
}*/

/*Return button*/

.retBtn{
	background-color: #7E6D41;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 0 0.4rem;
}

.retBtn a{
	padding: 0 0.4rem;
}

/*footer*/
footer{
	margin-left: 8%;
	margin-top: 150px;
	background-color: rgba(0, 0, 0, 0.15);
}

caption{
	text-align: right;
}

picture{
	color: #303030;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
}


                                    /*Media Queries*/

                                    /*>450pix width*/

@media screen and (min-width: 451px){

	.menu{
	margin-bottom: 1rem;
	}

	.ptd{
	display: flex;
	margin-top: 1px;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	margin:0;
	}

	.pdtHead{
		height: calc((320/480)*60vw);
		width: 30vw;
		position: static;
		background-color: #7E6D41;
		align-self: flex-start;
		order: 2;
	}

	.pdtHead h2{
		margin-top: 0;
		font-size: 2rem;
		background: none;
		text-align: left;
		margin-left: 0;

	}
		.pdtPic{
		width: 60vw;
		order:1;
	}
                                    
                                            /*menu lat*/

	.sec01{
		position:sticky;
		top:0;
		float: right;
		/*left: calc(60vw + (100%-90vw)*0.055);*/
		width: 30vw;
		height: 100vh;
		background-color: #7E6D41;
		overflow-y: scroll;
		overflow-x: none;
		right: 	calc((100%-90vw)*0.01);
		}

	h2{
		margin-top: 1.5rem;
	}

	h3{
		margin-top:1.5rem;
	}

	aside h2{
		margin-top: 5rem;
	}

	.MenuS1box{
	display: flex;
	flex-direction: column;
	width: 24vw;
	}

	.ItSec1{
	width: 24vw;
	display: inline-block;
	background-color:  #675934;
	border-top: 0.35rem solid #F6C806;
	border-bottom: 0.7rem solid #F6C806;
	padding: 0;
	margin-right: 1rem;
	}




                                               /*aartigos*/

	.sec02{
		width: 60vw;
	}

}



/*@media screen and (min-width: 601px){

.pdtHead{
		height: calc((320/480)*45vw);
		width: 45vw;
	}

.pdtPic{
		width: 45vw;
	}

*/

@media screen and (min-width: 721px){

.pdtHead{
		height: calc((320/480)*30vw);
		width: 60vw;
		order: 	1;
	}

.pdtPic{
		width: 30vw;
		order: 	2;
	}