body{
	padding: 0;
	margin: 0;
}

header{
	margin: 0;
	font-family: sans-serif;
	text-align: center;
	color: darkgray;
}

h1, h2, h4{
	margin: 0;
}

#container{
	display: flex;
}

.lcpath{
	fill: none;
	stroke: gray;
}

#viz{
	display: flex;
}

#tooltip{
	border:  solid black 1px;
	padding: 5px;
	position: absolute;
	display: none;
	background: #F1EEB1;
	opacity: 0.7;
}


.wipVal{
	font-size: 20px;
	margin: 0;
	text-align: center;
}

.ttCountry{
	margin: 0;
}

.grid line, .domain{
	stroke: lightgray;
}

.age-input{
	display: flex;
	justify-content: space-between;
}

.age-input input{
	width: 80px;
}

.slider{
	height: 5px;
	border-radius: 5px;
	border: 1px gray solid;
	position: relative;
	margin: 20px 0;
}

.slider .progress{
	height: 5px;
	left: 25%;
	right: 25%;
	position: absolute;
	border-radius: 5px;
	background: blue;

}

.range-input{
	position: relative;
}

.range-input input{
	position: absolute;
	top: -27.5px;
	height: 5px;
	width: 100%;
	background: none;
	pointer-events: none;
	-webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb{
	height: 15px;
	width: 15px;
	border-radius: 50%;
	pointer-events: auto;
	-webkit-appearance: none;
	background: blue;
}

input[type='range']::-moz-range-thumb{
	height: 17px;
	width: 17px;
	border-radius: 50%;
	pointer-events: auto;
	border: none;
	-moz-appearance: none;
	background: black;
}

#control{
	padding: 15px;
}

.radio{
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

#reference{
	color: darkgray;
	text-align: right;
	font-style: italic;
	margin-right: 15px;
}